body {
    font-family: Source Sans Pro;

}
.postercaption {
   padding-top:2px;
   margin-top:0;
}


}
.genre-nav {
   color:lightgray;
   padding: 20px 0 5px 60px;
}
.categories {
   margin:10px;
}

