body {
    background-color: rgba(0, 0, 0, 0.646);
    font-family:"Source Sans Pro", sans-serif;
    width:100%;
    max-width:100%;
}
header {
    width:100%;
    display:flex;
    padding-top:10px; 
    justify-content: space-evenly;

    
}
.top-hotflix {
    margin: 0px;
}
main {
    width:100%;
}